<h2>Log in</h2>
N.B: Logging in is only required for creating new tickets.
<br><br>
<form method="POST" action="/login">
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="submit" value="Log in">
</form>

